{% extends 'homepage.html' %}

{% block title %}{{ title }}{% endblock %}
{% block menu %}
    {{ super() }}
{% endblock menu %}

{% block content %}
    <h3 class="titles" style="margin-top: 70px">
        Топ співаків
    </h3>
        {% if func(flag) == [] %}
            <p class="text-danger">Упс.. поки нічого немає</p>
        {% else %}
                {% for artist in func(flag) %}
                    <p class="titles">
                        <a href="{{ url_for('artist', artist_id=artist.id) }}" class="text">
                            {{ artist }}
                        </a>
                    </p>
                {% endfor %}
        {% endif %}


{% endblock %}