{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}
{% block menu %}
    <p><a href="{{ url_for('homepage') }}">Домашня сторінка</a></p>
    <p><a href="{{ url_for('search') }}">Шукати</a></p>
    <p><a href="{{ url_for('library') }}">Моя бібліотека</a></p>
    <p><a href="{{ url_for('profile') }}">Профіль</a></p>
    <p><a href="{{ url_for('logout') }}">Вийти</a></p>
    <h3>
    {% if current_user.has_role('admin') %}
        <a href="/admin">Admin</a>
    {% endif %}
    </h3>
{% endblock menu %}

{% block content %}
    <form method="post" action="{{ url_for('create_album') }}">
    <p>Давайте щось знайдемо для вашого плейлісту:</p>
    </form>
{% endblock %}