{% extends 'homepage.html' %}

{% block title %}{{ genre }}{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}


{% block content %}
    <h3 class="titles" style="margin-top: 70px">{{ genre }}</h3>
        {% for artist in artists %}
            <p>
            {% if artist.surname == None %}
                <a href="{{ url_for('artist', artist_id=artist.id) }}" class="titles text">
                    {{ artist.firstname }}
                </a>
            {% else %}
                <a href="{{ url_for('artist', artist_id=artist.id) }}" class="titles text">
                    {{ artist.firstname}} {{ artist.surname }}
                </a>
            {% endif %}
            </p>
    {% endfor %}

{% endblock %}