{% extends 'homepage.html' %}


{% block title %}{{ title }}{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <p>

    <h3 class="titles"><b>Вподобані пісні</b>️</h3>
    </p>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %}

    <table class="table table-hover">
    <tr class="table-dark">
      <th scope="row">#</th>
        <td>Назва</td>
        <td>Альбом</td>
        <td>Автор</td>
        <td></td>
        <td>🕓</td>
    </tr>
    {% for song in songs %}
        <tr class="table-dark">
        <th>{{ loop.index }}</th>
        <td>{{ song.name }} </td>
        <td>
        <a href="{{ url_for('album', album_id=song.album_id) }}" class="text">
            {{ album.query.get(song.album_id).name }}
        </a>
        </td>
        <td>
            <a href="{{ url_for('artist', artist_id=album.query.get(song.album_id).artist_id) }}" class="text">
                {{ artist.query.filter(artist.id == album.query.get(song.album_id).artist_id ).first() }}
            </a>
        </td>
        <td>
            <a href="{{ url_for('song_delete', song_id=song.id, prev='library') }}" class="btn btn-danger">
                Видалити
            </a>
        <td>
            {{ song.duration }}
        </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
