{% extends 'base.html' %}


{% block title %}{{ title }}{% endblock %}

{% block menu %}
    <p><a href="{{ url_for('homepage') }}">Домашня сторінка</a></p>
    <p><a href="{{ url_for('search') }}">Шукати</a></p>
    <p>Моя бібліотека</p>
    <p><a href="{{ url_for('profile') }}">Мій профіль</a></p>
    <p><a href="{{ url_for('logout') }}">Вийти</a></p>
    <h3>
        {% if current_user.has_role('admin') %}
            <a href="/admin">Admin</a>
        {% endif %}
    </h3>
{% endblock %}

{% block content %}
    <p>
    <h3>Вподобані пісні❤️</h3>
    </p>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %}

    <table>
    <tr>
        <td>#</td>
        <td>назва</td>
        <td>автор</td>
        <td>альбом</td>
        <td></td>
        <td>time</td>
    </tr>
    {% for song in songs %}
        <tr>
        <td>{{ loop.index }}</td>
        <td>Пісня: {{ song.name }} </td>
        <td>
        <a href="{{ url_for('album', album_id=song.album_id) }}">
            {{ album.query.get(song.album_id).name }}
        </a>
        </td>
        <td>
            <a href="{{ url_for('artist', artist_id=album.query.get(song.album_id).artist_id) }}">
                {{ artist.query.filter(artist.id == album.query.get(song.album_id).artist_id ).first() }}
            </a>
        </td>
        <td>
            <a href="{{ url_for('song_add', song_id=song.id, prev='library') }}" class="btn btn-warning btn-xs">
                Like
            </a>
            <a href="{{ url_for('song_delete', song_id=song.id, prev='library') }}" class="btn btn-warning">
                Delete
            </a>
        <td>
            {{ song.duration }}
        </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
