{% extends 'homepage.html' %}


{% block title %}{{ title }}{% endblock %}

{% block head %}
    {{ super() }}
{% endblock head %}


{% block content %}
    <h8 class="text-muted">профіль користувача</h8>
    <h1 class="text-secondary titles">{{ user.nickname }}</h1>
    <h8 class="text-muted titles">{{ count }} Пісень</h8>

    <h3 class="titles" style="margin-top: 70px">
        Топ співаків
    </h3>
    <a class="text-muted titles" href="{{ url_for('artists') }}">відкрити усіх</a>

        {% if func(flag) == [] %}
            <p class="text-danger">Упс.. поки нічого немає</p>
        {% else %}
            <ol class="titles">
            {% for artist in func(flag) %}
            <p>
            <li>
                <a href="{{ url_for('artist', artist_id=artist.id) }}" class="text">
                    {{ artist }}
                </a>
            </li>
            </p>
            {% endfor %}
              </ol>
        {% endif %}


    <h3 class="titles" style="margin-top: 70px">
        Топ пісень
    </h3>
        <a class="text-muted titles" href="{{ url_for('library') }}">відкрити усі</a>


        {% if count == 0 %}
            <p class="text-danger">Упс.. поки нічого не додано</p>

        {% elif count < 4 %}
            <table class="table table-hover">
                <tr class="table-dark">
                    <td>#</td>
                    <td>Назва</td>
                    <td>Альбом</td>
                    <td>Автор</td>
                    <td> </td>
                    <td>🕓</td>
                </tr>
            {% for i in range(count) %}
                <tr class="table-dark">
                    <td>{{ i + 1 }}</td>
                    <td>{{ songs[i].name }}</td>
                    <td>
                        <a href="{{ url_for('album', album_id=songs[i].album_id) }}" class="text">
                            {{ album.query.get(songs[i].album_id).name }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('artist', artist_id=album.query.get(songs[i].album_id).artist_id) }}" class="text">
                            {{ artist.query.filter(artist.id == album.query.get(songs[i].album_id).artist_id ).first() }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('song_delete', song_id=songs[i].id, prev='profile') }}" class="btn btn-danger btn_del">
                            Видалити
                        </a>
                    </td>
                    <td>{{ songs[i].duration }}</td>
                </tr>
            {% endfor %}
            </table>


        {% else %}
            <table class="table table-hover">

                <tr class="table-dark">
                    <td>#</td>
                    <td>Назва</td>
                    <td>Альбом</td>
                    <td>Автор</td>
                    <td></td>
                    <td>🕓</td>
                </tr>
                {% for i in range(4) %}
                <tr class="table-dark">
                    <td>{{ i + 1 }}</td>
                    <td>{{ songs[i].name }}</td>
                    <td>
                        <a href="{{ url_for('album', album_id=songs[i].album_id) }}" class="text">
                            {{ album.query.get(songs[i].album_id).name }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('artist', artist_id=album.query.get(songs[i].album_id).artist_id) }}" class="text">
                            {{ artist.query.filter(artist.id == album.query.get(songs[i].album_id).artist_id ).first() }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('song_delete', song_id=songs[i].id, prev='profile') }}" class="btn btn-danger btn_del">
                            Видалити
                        </a>
                    </td>
                    <td>{{ songs[i].duration }}</td>
                </tr>
                {% endfor %}
            </table>
        {% endif %}


{% endblock %}
