{% extends 'homepage.html' %}

{% block menu %}
    {{ super() }}
{% endblock %}

{% block content %}
    {% if songs != [] %}
        <h3 class="titles" style="margin-top: 70px">Пісні</h3>
        <table class="table table-hover">
        <tr class="table-dark titles">
            <td>#</td>
            <td>Назва</td>
            <td>Автор</td>
            <td></td>
            <td></td>
            <td>🕒</td>
        </tr>
        {% for song in songs %}
            <tr class="table-dark titles">
            <td>{{ loop.index }}</td>
            <td>{{ song.name }}</td>
            <td>
                <a href="{{ url_for('artist', artist_id=album.query.get(song.album_id).artist_id) }}" class="text">
                    {{ artist.query.filter(artist.id == album.query.get(song.album_id).artist_id ).first() }}
                </a>
            </td>
                <td>
                    <a href="{{ url_for('song_add', song_id=song.id, prev='search_res') }}" class="btn btn-secondary">
                        Вподобати
                    </a>
                </td>
                <td>
                    <a href="{{ url_for('song_delete', song_id=song.id, prev='search_res') }}" class="btn btn-danger">
                        Видалити
                    </a>
                </td>
            <td>{{ song.duration }}</td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}

    {% if artists != [] %}
        <h3 class="titles" style="margin-top: 70px">Артисти</h3>
        <table class="table table-hover">
        <tr class="table-dark titles t">
           <td class="t">#</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
       {% for artist in artists %}
           <tr class="table-dark titles">
               <td class="t">{{ loop.index }}</td>
           <td>
            {% if artist.surname != None %}
                <a href="{{ url_for('artist', artist_id=artist.id) }}" class="text" >{{ artist.firstname }} {{ artist.surname }}</a>
            {% else %}
                <a href="{{ url_for('artist', artist_id=artist.id) }}" class="text">{{ artist.firstname }}</a>
            {% endif %}
           </td>
           <td></td>
           <td></td>
           </tr>
        {% endfor %}
        </table>
    {% endif %}


    {% if albums != [] %}
        <h3 class="titles" style="margin-top: 70px">Альбоми</h3>
        <table class="table table-hover">
        <tr class="table-dark titles">
            <td class="t">#</td>
            <td></td>
        </tr>
        {% for album in albums %}
            <tr class="table-dark titles">
            <td class="t">{{ loop.index }}</td>
            <td>
                <a href="{{ url_for('album', album_id=album.id) }}" class="text">
                    {{ album.name }}
                </a>
            </td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}

{% endblock %}