{% extends 'homepage.html' %}

{% block title %}{{ title }}{% endblock %}


{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

    <form method="GET" class="d-flex">
        <input type="text" name="q" value="{{ request.args.get('q', '') }}" placeholder="пісня, артист, альбом"
        class="form-control me-sm-2 search">
        <button class="btn btn-secondary search_btn my-2 " type="submit">🔍</button>
    </form>


    <p class="text-muted">Шукати жанри</p>
    <ol class="breadcrumb">
    {% for genre in genres %}
            <li class="breadcrumb-item">
                <a href="{{ url_for('genre', genre_id=genre.id) }}" class="text">{{ genre.name }}</a></li>
    {% endfor %}
    </ol>


{% endblock %}

